* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

ul, li {
    list-style-type: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

::placeholder {
    color: #fff;
    transition: color .3s;
}

input:focus::placeholder {
    color: transparent;
}

/* Header */

.page-header {
    width: 100%;
    background-color: #403C3B;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.page-header * {
    color: #fff;
}

.page-header__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.site-logo {
    width: 70px;
    height: 70px;
    margin-right: auto;
}

.site-logo img {
    object-fit: contain;
}

.search-block {
    display: flex;
    align-items: center;
    margin-right: 70px;
    flex-wrap: wrap;
}

.search-in-category {
    min-width: 160px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 25px;
    cursor: pointer;
}

.categories-list-wrapper {
    width: 100%;
    height: 0;
    transition: height .3s;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    overflow: hidden;
}

.categories-list {
    font-size: 15px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #403C3B;
    position: relative;
    z-index: 2;
}

.search-category {
    color: #403C3B;
    transition: color .3s;
}

.search-category:hover {
    color: #89C340;
}

.search-category:not(:first-child) {
    margin-top: 10px;
}

.selected-category,
.chevron {
    pointer-events: none;
}

.chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
    right: 10px;
    width: 16px;
    height: 16px;
    background: url('../img/header/chevron.svg') no-repeat center / cover;
    transition: .3s;
    transform-origin: 50% 30%;
}

.search-in-category.opened .chevron {
    transform: rotate(180deg);
}

.search-field-wrapper {
    width: 450px;
    height: 100%;
    position: relative;
}

.search-field {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    padding: 10px 40px 10px 10px;
}

.search-field::placeholder {
    font-style: italic;
}

.loupe {
    width: 20px;
    height: 20px;
    background: url('../img/header/loupe.svg') no-repeat center / cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.cart-btn-wrapper {
    margin-left: auto;
}

.contacts-wrapper {
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
}

.contacts-wrapper strong {
    font-size: 13px;
    font-weight: 100;
}

.header__phone,
.header__email {
    position: relative;
}

.header__phone:before,
.header__email:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 8px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.header__phone:before {
    background: url('../img/header/phone.svg') no-repeat center / 15px;
}

.header__email:before {
    background: url('../img/header/email.svg') no-repeat center / 15px;
}

.cart-btn {
    width: 130px;
    height: 50px;
    background-color: #89C340;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.cart-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cart-btn span:first-child {
    width: 65%;
    margin-right: 7px;
    border-right: 1px solid #fff;
}

.cart-btn span:last-child {
    width: 23%;
    border-radius: 50%;
    background-color: #fff;
    color: #403C3B;
}

/* main slider */

.main-content {
    margin-top: 92px;
    background: rgb(64,60,59);
    background: linear-gradient(165deg, rgba(64,60,59,1) 53%, rgba(137,195,64,1) 200%);
}

.main-content .swiper {
    width: 100%;
    height: 500px;
}

.main-content .swiper-slide figure {
    height: 100%;
}

.main-content .swiper-slide figure img {
    object-position: bottom;
}

.main-content .swiper-button-prev,
.main-content .swiper-button-next {
    color: #fff;
}

.main-content .swiper-pagination-bullet {
    background-color: #fff;
}

.main-content .swiper-pagination-bullet-active {
    background-color: #89C340;
}

/* main showcase */

.showcase {
    width: 100%;
}

.items-categories {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #403C3B;
    position: sticky;
    top: 92px;
    border-top: 1px solid #89C340;
    border-bottom: 1px solid #89C340;
    z-index: 1;
}

.items-categories a {
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s;
}

.items-categories a:not(:last-child) {
    margin-right: 10px;
}

.items-categories a:hover {
    color: #89C340;
}

.showcase__items {
    padding: 40px;
}

.category-block:not(:first-child) {
    margin-top: 40px;
}

.category-title {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
    position: relative;
}

.category-title:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: #89C340;
}

.category-products {
    display: grid;
    grid: 1fr / repeat(auto-fill, minmax(250px, 255px));
    gap: 15px;
    margin-top: 40px;
}

.category-product {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #403C3B;
    background-color: #4E4948;
    color: #fff;
    box-shadow: 0 3px 30px -6px #000;
}

.product-photo {
    width: 100%;
    height: 160px;
}

.product-info {
    padding: 13px;
}

.product-info > div:not(:first-child) {
    margin-top: 15px;
}

.product-header {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.product-header > h3 {
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    max-width: 180px;
}

.product-header > span {
    font-size: 13px;
    display: block;
    margin-top: 1px;
}

.product-composition {
    width: 100%;
    height: 83px;
    font-size: 15px;
}

.product-composition p {
    text-transform: lowercase;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: 100;
    font-size: 12px;
}

.product-rating {
    position: relative;
    width: 108.5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-product-rating {
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
}

.product-rating:before,
.current-product-rating:before {
    content: '★★★★★';
    display: block;
    width: 100%;
    height: 100%;
    font-size: 26px;
    transform: translateY(-30%);
    pointer-events: none;
}

.current-product-rating:before {
    color: gold;
}

.product-rating .rating {
    display: block;
    margin-left: 10px;
    transform: translateY(-10%);
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36.67px;
}

.product-footer span:not(.added-notice) {
    font-size: 20px;
    font-weight: 600;
}

.added-notice {
    font-size: 13px;
    display: none;
}

.add-to-cart-btn {
    background-color: #89C340;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #89C340;
    display: none;
    transition: .3s;
}

.add-to-cart-btn:hover {
    background-color: #4E4948;
    color: #89C340;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 11;
    display: none;
    justify-content: center;
    padding: 40px 20px;
    overflow-y: auto;
}

.modal-block {
    width: 100%;
    background-color: #403C3B;
    padding: 35px 25px;
    border-radius: 12px;
}

.modal-block-empty {
    max-width: 420px;
}

.modal-body {
    flex-direction: column;
}

.modal-body.empty,
.align-center {
    align-items: center;
}

.modal-body.empty figure {
    width: 75px;
    height: 88px;
}

.empty-notice {
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-top: 16px;
}

.show-menu-btn {
    background-color: #89C340;
    color: #fff;
    border: 1px solid #89C340;
    border-radius: 12px;
    margin-top: 45px;
    padding: 10px 15px;
    width: 188px;
    height: 51px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
}

.show-menu-btn:hover {
    background-color: transparent;
    color: #89C340;
}












/* технические стили */
.active {
    color: #89C340;
}

.flex {
    display: flex;
}

.align-start {
    align-items: flex-start;
}

.show {
    display: block;
}
