:root {
    --main-color: #89C340;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/Gilroy-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button,
input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
}

ul, li {
    list-style-type: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

::placeholder {
    color: #fff;
    transition: color .3s;
}

input:focus::placeholder {
    color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='radio'],
input[type='checkbox'] {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: #403C3B;
    border-left: 1px solid var(--main-color);
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::selection {
    background-color: var(--main-color);
    color: #fff;
}

/* Header */

.page-header {
    width: 100%;
    background-color: #403C3B;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.page-header * {
    color: #fff;
}

.page-header__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.site-logo {
    width: 70px;
    height: 70px;
    margin-right: auto;
}

.site-logo img {
    object-fit: contain;
}

.search-block {
    display: flex;
    align-items: center;
    margin-right: 70px;
    flex-wrap: wrap;
}

.search-in-category {
    min-width: 160px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 25px;
    cursor: pointer;
}

.categories-list-wrapper {
    width: 100%;
    height: 0;
    transition: height .3s;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    overflow: hidden;
}

.categories-list {
    font-size: 15px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #403C3B;
    position: relative;
    z-index: 2;
}

.search-category {
    color: #403C3B;
    transition: color .3s;
}

.search-category:hover {
    color: var(--main-color);
}

.search-category:not(:first-child) {
    margin-top: 10px;
}

.selected-category,
.chevron {
    pointer-events: none;
}

.chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
    right: 10px;
    width: 16px;
    height: 16px;
    background: url('../img/header/chevron.svg') no-repeat center / cover;
    transition: .3s;
    transform-origin: 50% 30%;
}

.opened + .chevron {
    transform: rotate(180deg);
}

.search-field-wrapper {
    width: 450px;
    height: 100%;
    position: relative;
}

.search-field {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 40px 10px 10px;
}

.search-field::placeholder {
    font-style: italic;
}

.loupe {
    width: 20px;
    height: 20px;
    background: url('../img/header/loupe.svg') no-repeat center / cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.cart-btn-wrapper {
    margin-left: auto;
    position: relative;
}

.contacts-wrapper {
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts-wrapper strong {
    font-size: 13px;
    font-weight: 100;
}

.header__phone,
.header__email {
    position: relative;
}

.header__phone:before,
.header__email:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 8px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: no-repeat center / 15px;
}

.header__phone:before {
    background-image: url('../img/header/phone.svg');
}

.header__email:before {
    background-image: url('../img/header/email.svg');
}

.header__phone:after,
.header__email:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 0;
    height: 1.5px;
    transition: width .3s;
}

.header__phone:hover:after,
.header__email:hover:after {
    width: 100%;
}

.cart-btn {
    width: 130px;
    height: 50px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color .3s;
}

.cart-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: .3s;
}

.cart-btn span:first-child {
    width: 65%;
    margin-right: 7px;
    border-right: 1px solid #fff;
}

.cart-btn span:last-child {
    width: 23%;
    border-radius: 50%;
    background-color: #fff;
    color: #403C3B;
    border: 1px solid #fff;
}

.cart-btn:hover {
    background-color: transparent;
}

.cart-btn:hover > span:first-child {
    color: var(--main-color);
    border-right-color: var(--main-color);
}

.cart-btn:hover > span:last-child {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: transparent;
}

.entry-btn-wrapper {
    height: 40px;
    margin-left: 25px;
}

.mobile-entry-btn,
.entry-btn-img {
    background: url('../img/header/male.svg') no-repeat left center / contain;
}

.entry-btn {
    width: 134px;
    height: 100%;
    padding-left: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: color .3s;
    display: flex;
    align-items: center;
}

.entry-btn:hover {
    color: var(--main-color);
}

.entry-btn-img {
    width: 40px;
    height: 100%;
    transition: .3s;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 11px;
    pointer-events: none;
}

.entry-btn:hover > .entry-btn-img {
    background-color: transparent;
}

.entry-btn:hover > .entry-btn-img,
.entry-btn:hover > .entry-btn-img.male {
    background-image: url('../img/header/male-hovered.svg');
}

.entry-btn:hover > .entry-btn-img.female {
    background-image: url('../img/header/female-hovered.svg');
}

.entry-btn:hover > .entry-btn-img.neutral {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: background-image .3s;
    background-image: url('../img/header/neutral-hovered.svg');
}

.male {
    background-image: url('../img/header/male.svg');
}

.female {
    background-image: url('../img/header/female.svg');
}

.neutral {
    background-image: url('../img/header/neutral.svg');
}

label[for="burger-box"],
.slide-panel {
    display: none;
}

/* main slider */

.main-content {
    margin-top: 92px;
    width: 100%;
    background: #403C3B linear-gradient(165deg, #403C3B 53%, var(--main-color) 200%);
    min-height: 100vh;
}

.main-content .swiper {
    width: 100%;
    height: 500px;
}

.main-content .swiper-slide figure {
    height: 100%;
}

.main-content .swiper-slide figure img {
    object-position: bottom;
}

.main-content .swiper-button-prev,
.main-content .swiper-button-next {
    color: #fff;
}

.main-content .swiper-pagination-bullet {
    background-color: #fff;
}

.main-content .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* main showcase */

.showcase {
    width: 100%;
}

.items-categories {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #403C3B;
    position: sticky;
    top: 92px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    z-index: 1;
}

.items-categories a {
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s;
}

.items-categories a:not(:last-child) {
    margin-right: 10px;
}

.items-categories a:hover {
    color: var(--main-color);
}

.showcase__items {
    padding: 40px;
}

.category-block:not(:first-child) {
    margin-top: 40px;
}

.category-title,
.modal-title {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
    position: relative;
}

.category-title:before,
.modal-title:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--main-color);
}

.category-products,
.found-products {
    display: grid;
    grid: 1fr / repeat(auto-fill, minmax(250px, 255px));
    gap: 15px;
    margin-top: 40px;
}

.category-product,
.found-product {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #403C3B;
    background-color: #4E4948;
    color: #fff;
    box-shadow: 0 3px 30px -6px #000;
}

.product-photo {
    width: 100%;
    height: 160px;
}

.product-info {
    padding: 13px;
}

.product-info > div:not(:first-child) {
    margin-top: 15px;
}

.product-header {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.product-header > h3 {
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    max-width: 180px;
}

.product-header > span {
    font-size: 13px;
    display: block;
    margin-top: 1px;
}

.product-composition {
    width: 100%;
    height: 83px;
    font-size: 15px;
}

.product-composition p {
    text-transform: lowercase;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: 100;
    font-size: 12px;
}

.product-rating {
    position: relative;
    width: 108.27px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.current-product-rating {
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
}

.product-rating:before,
.current-product-rating:before {
    content: '★★★★★';
    display: block;
    width: 100%;
    height: 100%;
    font-size: 26px;
    transform: translateY(-30%);
    pointer-events: none;
}

.current-product-rating:before {
    color: #FFD700;
}

.product-rating .rating {
    display: block;
    margin-left: 10px;
    transform: translateY(-10%);
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36.67px;
}

.product-footer span:not(.added-notice) {
    font-size: 20px;
    font-weight: 600;
}

.added-notice {
    font-size: 13px;
    display: none;
}

.add-to-cart-btn {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    display: none;
    transition: .3s;
}

.add-to-cart-btn:hover {
    background-color: var(--main-color);
    color: var(--main-color);
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 11;
    display: none;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
}

.modal-block {
    width: 100%;
    background-color: #403C3B;
    padding: 35px 25px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.modal-body {
    flex-direction: column;
}

.close-modal-btn {
    width: 15px;
    height: 15px;
    background: url('../img/modal/close-cross.svg') no-repeat center / 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

.modal-block-entry > .close-modal-btn {
    transform: translateY(-7px);
}

/* empty-cart modal */

.modal-body.empty,
.align-center {
    align-items: center;
}

.modal-body.empty figure {
    width: 75px;
    height: 88px;
}

.empty-notice {
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-top: 16px;
}

.show-menu-btn {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 12px;
    margin-top: 45px;
    padding: 10px 15px;
    width: 188px;
    height: 51px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
}

.show-menu-btn:hover {
    background-color: transparent;
    color: var(--main-color);
}

/* cart-modal */

.modal-title {
    font-size: 32px;
}

.modal-title.cart > span {
    font-size: 12px;
    color: var(--main-color);
    font-weight: 100;
}

.cart-items {
    margin-top: 37px;
}

.cart-item {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
}

.cart-item:first-child {
    border-top: 1px solid #aaa;
}

.cart-item__photo,
.cart-item__photo > img {
    width: 131px;
    height: 110px;
}

.cart-item__info {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.cart-item-name {
    text-transform: uppercase;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #fff;
}

.cart-item-composition {
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #a6a7ab;
}

.cart-item__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count-btn,
.cart-item-delete-btn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--main-color) no-repeat center / 10px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid var(--main-color);
}

.count-btn:hover,
.cart-item-delete-btn:hover {
    background-color: transparent;
}

.count-btn.minus {
    background-image: url('../img/modal/minus.svg');
}

.count-btn.minus:hover {
    background-image: url('../img/modal/minus-hovered.svg');
}

.count-btn.plus {
    background-image: url('../img/modal/plus.svg');
}

.count-btn.plus:hover {
    background-image: url('../img/modal/plus-hovered.svg');
}

.cart-item-delete-btn {
    background-image: url('../img/modal/delete.svg');
}

.cart-item-delete-btn:hover {
    background-image: url('../img/modal/delete-hovered.svg');
}

.count-field {
    width: 50px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
}

.cart-item__cost {
    width: 70px;
    text-align: center;
}

.cart-item__cost span {
    color: #fff;
    font-size: 18px;
}

.total-cost {
    width: 100%;
    text-align: right;
    margin-top: 25px;
}

.total-cost span {
    font-size: 23px;
    color: #fff;
}

.order-data {
    margin-top: 40px;
}

.client-data h3 {
    color: #fff;
}

.fields-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-label {
    position: relative;
    color: #fff;
}

.label-keeper.required > .modal-label:after {
    content: '*';
    display: block;
    font-size: 17px;
    color: var(--main-color);
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
}

.client-data {
    margin-top: 40px;
}

.client-data .section:not(:first-child),
.client-data__contact-info .field-area,
.date-time-wrapper {
    margin-top: 25px;
}

.section {
    background-color: #4D4847;
    padding: 30px;
    border-radius: 8px;
}

.client-data__order-shipping {
    padding-bottom: 55px;
}

.client-data__contact-info .fields-wrapper {
    flex-wrap: wrap;
}

.client-data__contact-info .field-area {
    width: 100%;
    max-width: 260px;
    position: relative;
}

.client-data__contact-info .field-area:not(:last-child) {
    margin-right: 15px;
}

.field-area,
.modal-field {
    position: relative;
}

.label-keeper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: .3s;
    padding: 0 10px;
    font-size: 17px;
    background-color: #4D4847;
}

.label-keeper.required {
    padding-right: 15px;
}

.modal-field {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 7px;
    font-size: 18px;
    padding: 20px 17px;
    color: #fff;
}

.field-area.focused > .label-keeper {
    font-size: 13px;
    top: 0;
    z-index: 5;
    left: 7px;
}

.toggler-wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.toggler {
    width: 100%;
    max-width: 363px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    position: relative;
    display: flex;
    overflow: hidden;
}

.toggler .carriage {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    transition: left .3s;
}

.toggler > label {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.toggler.shipping > .carriage {
    left: 0;
}

.toggler.self-delivery > .carriage {
    left: 50%;
}

.toggler.shipping > .toggler-label:nth-last-child(2),
.toggler.self-delivery > .toggler-label:last-child {
    font-weight: 900;
}

.address-block,
.fields-grid-area {
    margin-top: 25px;
}

.fields-grid-area {
    width: 100%;
    display: grid;
    grid: repeat(2, 63px) 1fr / repeat(3, 1fr);
    gap: 17px;
}

.fields-grid-area .field-area:nth-child(-n + 2),
.fields-grid-area.my-addresses-checked .field-area:nth-child(-n + 3),
.fields-grid-area .field-area:last-child {
    grid-column: 1 / 4;
}

.fields-grid-area .field-area:nth-child(3),
.fields-grid-area.my-addresses-checked .field-area:nth-child(4) {
    grid-column: 1 / 3;
}

.fields-grid-area .field-area:nth-child(4),
.fields-grid-area.my-addresses-checked .field-area:nth-child(5) {
    grid-column: 3 / 4;
}

.toggler-wrapper .toggler.disabled {
    border-color: #666;
}

.toggler-wrapper .toggler.disabled > .carriage {
    background-color: #666;
}

.toggler-wrapper .toggler.disabled > label:first-of-type {
    color: #888;
}

.toggler-wrapper .toggler.disabled > label:last-of-type {
    color: #666;
}

.my-addresses-list.hide {
    display: none;
}

.my-addresses.nothing,
.my-addresses.nothing > * {
    cursor: default;
}

.my-addresses.nothing {
    border-color: #666;
}

.my-addresses.nothing > label {
    color: #666;
    pointer-events: none;
}

.comment-label {
    top: 30px;
}

.drop-down-list-wrapper {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 6;
    background-color: #fff;
    overflow: hidden;
    height: 0;
    transition: height .3s;
}

.drop-down-list {
    padding: 15px;
}

.drop-down-item {
    cursor: pointer;
    transition: color .3s;
}

.drop-down-item:hover {
    color: var(--main-color);
}

.drop-down-item:not(:first-child) {
    margin-top: 10px;
}

.drop-down-list-field {
    cursor: pointer;
}

.selected-drop {
    pointer-events: none;
}

.disabled .selected-drop,
.disabled label,
.disabled input {
    color: #888;
}

.disabled .chevron {
    background-image: url('../img/header/chevron-disabled.svg');
}

.client-data__cart-total-cost {
    color: #fff;
    display: flex;
    align-items: center;
}

.no-auth {
    justify-content: flex-end;
}

.user_auth {
    justify-content: space-between;
}

.cart-total-cost-wrapper {
    font-size: 25px;
    font-weight: 900;
    text-shadow: 0 0 10px #fff;
}

.modal-footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-agreed-label {
    position: relative;
    color: #fff;
    padding-left: 30px;
    cursor: pointer;
    display: block;
}

.client-agreed-label:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    background: transparent no-repeat center / 15px;
}

.client-agreed-checkbox:checked + .client-agreed-label:before {
    background-image: url('../img/modal/tick.svg');
}

.client-agreed-label > a {
    display: inline-block;
    color: var(--main-color);
    position: relative;
}

.client-agreed-label > a:after,
.forgot-password-btn:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    width: 0;
    height: 1.5px;
    transition: width .3s;
    background-color: var(--main-color);
}

.client-agreed-label > a:hover:after,
.forgot-password-btn:hover:after {
    width: 100%;
}

.confirm-btn,
.action-confirm-btn {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    padding: 15px 40px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    transition: .3s;
    cursor: pointer;
    font-size: 17px;
}

.confirm-btn:hover,
.action-confirm-btn:hover {
    background-color: transparent;
    color: var(--main-color);
}

.product-info-section {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.product-info-section > * {
    width: 50%;
}

.current-product-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.current-product-info__photo {
    border: 2px solid var(--main-color);
}

.current-product-info__photo > figure {
    width: 100%;
    height: 100%;
    max-height: 540px;
}

.current-product {
    display: block;
    margin-top: 20px;
}

.current-product:nth-child(n + 3) {
    font-size: 14px;
}

.current-product-composition > span {
    font-size: 18px;
}

.current-product-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.current-product-price {
    font-size: 35px;
}

.product-feedback-section {
    margin-top: 30px;
}

.product-info-modal > section,
.feedback__header,
.feedback__body {
    width: 100%;
}

.feedback__header,
.feedback__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__user-info > figure {
    width: 50px;
    height: 50px;
}

.product-feedback-section {
    color: #fff;
}

.feedback-wrapper {
    background-color: #4D4847;
    border-radius: 20px;
    padding: 20px;
}

.name-time {
    margin-left: 15px;
}

.name-time > * {
    display: block;
}

.feedback__body {
    padding-top: 20px;
}

.feedback-item {
    margin-top: 20px;
    border-top: 1px solid #777;
    padding-top: 20px;
}

.write-feedback {
    text-align: center;
    margin-top: 35px;
}

.feedback__rating {
    align-self: flex-start;
}

.feedback__rating-wrapper {
    display: flex;
    flex-direction: row-reverse;

}

.feedback__rating-wrapper > span {
    display: block;
}

.feedback__rating-wrapper > span:after {
    content: '★';
    display: block;
    font-size: 25px;
}

.feedback__rating-wrapper > :checked ~ span:after {
    color: #ffd700;
}

.product-info-modal .product-rating {
    width: 175.1px;
    height: 34px;
    pointer-events: none;
    cursor: default;
}

.product-info-modal .product-rating:before,
.product-info-modal .current-product-rating:before {
    font-size: 42px;
}

.product-info-modal .rating {
    font-size: 30px;
    margin-left: 16px;
    transform: translateY(6px);
}

.results-title {
    color: #fff;
    font-size: 30px;
    margin-top: 15px;
}

.back-to-showcase {
    color: var(--main-color);
    cursor: pointer;
    font-size: 18px;
    padding-left: 25px;
    background: url('../img/main/showcase/search/double-arrow.svg') no-repeat left center / 20px;
}

.back-to-showcase:hover {
    text-decoration: underline;
}

.clickable-rating > * {
    pointer-events: none;
}

/* entry-modal */
.entry-modal .tabs-wrapper {
    width: 100%;
}

.entry-modal .tabs-wrapper {
    width: 100%;
    display: flex;
    position: relative;
}

.entry-modal .entry-modal-tab {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 1;
    cursor: pointer;
    color: #fff;
}

.carret {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--main-color);
    transition: left .3s;
}

.auth > .carret {
    left: 0;
}

.reg > .carret {
    left: 50%;
}

.bold-white {
    font-weight: 900;
    color: #fff;
}

.entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-body {
    padding: 20px 20px 15px;
    background-color: #4D4847;
    align-self: stretch;
}

.entry-body .field-area:not(:first-of-type) {
    margin-top: 15px;
}

.action-confirm-btn {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
}

.forgot-password-btn {
    color: var(--main-color);
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}

.register-complete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    width: 100%;
    max-width: 300px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
    transition: opacity .5s;
}

.register-complete > span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.login-notify {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 16px;
}

.my-addresses,
.bonuses-block > div {
    width: 150px;
    height: 60px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
}

.bonuses-block {
    height: 63.35px;
}

.bonuses-block > div:not(:last-child) {
    margin-right: 10px;
}

.my-addresses > label,
.bonuses-block label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;
}

.my-addresses-checkbox:checked + label,
.bonuses-block input[type='radio']:checked + label {
    background-color: var(--main-color);
}

.bonuses-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.points-static-value {
    display: block;
    position: absolute;
}

.points-static-value:not(.points-half, .points-current-value) {
    top: 50%;
    transform: translateY(-55%);
}

.points-min {
    right: calc(100% + 15px);
}

.points-half,
.points-current-value {
    left: 50%;
    transform: translateX(-50%);
}

.points-half {
    top: calc(100% + 15px);
}

.points-max {
    left: calc(100% + 15px);
}

.points-current-value {
    bottom: calc(100% + 15px);
}

/* технические стили */

.active,
.free {
    color: var(--main-color);
}

.busy {
    color: #FC4136;
}

.modal-block-empty {
    max-width: 420px;
}

.modal-block-entry {
    max-width: 660px;
    padding: 0 0 15px;
}

.modal-block-cart {
    max-width: 920px;
}

.modal-product-info {
    max-width: 1920px;
}

.flex {
    display: flex;
}

.align-start {
    align-items: flex-start;
}

.show {
    display: block;
}

@keyframes impulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.pulse {
    position: absolute;
    top: 3px;
    left: 11px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    width: 110px;
    height: 45px;
    animation: impulse .9s;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.noty_theme__metroui.noty_bar .noty_progressbar {
    height: 5px;
}

.opacity {
    opacity: 0;
}
